In [8]:
import pandas as pd
db = pd.read_excel('db.xlsx')
cat1 = 'Плечи'
cat2 = 'Грудь'
list(db.loc[db['Категория'] == 'Ноги']['Упражнение'])

['Присед со штангой',
 'Hack присед',
 'Болгарская тяга',
 'Жим ногами',
 'Становая тяга']

In [9]:
df = db.loc[db['Категория'] == cat1]
# Упражнение - вес - повторения = программа в DataFrame

,Упражнение,Категория,Мышцы,Движение,Вес,Повторения,Объём
9,Жим гантелей вверх сидя,Плечи,NaN,NaN,32.0,10.0,320
10,Развод гантелей стоя,Плечи,NaN,NaN,10.0,12.0,120